build/
node_modules/
tmp/
build.log
.idea/
verification/sandbox/
verification/__pycache__/
verification/neo4j_docs.egg-info/
verification/.tox/
verification/tests/__pycache__/
verification/tmp/
verification/tests/tmp/

