# This is an example of the docs-pr.yml workflow available from the recrwplay org
name: "Verify Branch"

on:
  # push:
  #   branches:
  #   - dev
  # schedule:
    # - cron:  '00 16 * * *'
  workflow_dispatch:
    inputs:
      html:
        description: 'Generate HTML'
        type: boolean
        required: false
        default: true
      links:
        description: 'Check links'
        type: boolean
        required: false
        default: true
      lint:
        description: 'Lint docs'
        type: boolean
        required: false
        default: true

jobs:

  docs-build:
    if: ${{ inputs.html }}
    name: Generate HTML
    uses: neo4j/docs-tools/.github/workflows/reusable-docs-build.yml@v1.1.2
    with:
      retain-artifacts: 14
      deploy-id: 0

  docs-verify:
    name: Verify HTML
    needs: docs-build
    uses: neo4j/docs-tools/.github/workflows/reusable-docs-verify.yml@v1.1.2

  docs-links:
    if: ${{ inputs.links }}
    name: Check links
    needs: docs-build
    uses: neo4j/docs-tools/.github/workflows/reusable-docs-links.yml@v1.1.2

  docs-lint:
    if: ${{ inputs.lint }}
    name: Lint docs
    uses: neo4j/docs-tools/.github/workflows/reusable-docs-lint.yml@v1.1.2
    
